/* General */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body
{
    font-family:"Raleway";
    color:black;
    margin:0;
}
h1 h2
{
    font-size:23px;
    color:black;
}
h3
{
    font-size:18px;
    color:black;
}
p
{
    font-size:15px;
    color:black;
}
a
{
    text-decoration:none;
    color:black;
}
.colorgrey_star
{
    color:#0000002e;
    font-size:13px;
}
.colorblue_star
{
    color:#0065FC;
    font-size:13px;
}
figure
{
    margin:0;
}

/* Header */

header
{
    display:flex;
    height:50px;
    margin:0 0.5rem 0 0.5rem;
    padding-top:1rem;
}
header img
{
    height:50px;
    width:120px;
    margin-right:60%;
}
header ul
{
    width:25%;
    display:flex;
    justify-content:space-between;    
}
header li
{
    height:100%;
    list-style:none;
    padding:0 15px 0 15px;
}
.lien1
{
    border-top:solid 2px #0065FC;
}
.lien11
{
    color:#0065FC;
}
header span
{
    height:50px;
    width:15%;
    display:flex;
    align-items:center;
}
.lien3
{
    color:#0065FC;
    font-weight:bold;
    padding:0 25px 0 25px;
}
/* Main */

main
{
    padding:0 0.5rem;
}

/* Main - Search */

main section div h1
{
    margin-bottom:0.5rem;
}
.search
{
    display:flex;
    align-items:center;
    height:50px;
    margin:1.5rem 0 2rem 0;
}
.search span
{
    display:flex;
    justify-content:center;
    align-items:center;
    height:50px;
    width:50px;
    background-color:#F2F2F2;
    border-radius:10px 0 0 10px;
}
.search input
{
    height:50px;
    width:220px;
    padding-left:10px;
    font-size:18px;
    border:none;
    border-bottom:#F2F2F2 2px solid;
    border-top:#F2F2F2 2px solid;
}
.search input::placeholder
{
    color:black;
    font-weight:bold;
}
.search div
{
    display:flex;
    align-items:center;
    height:50px;
    padding:0 1.5rem;
    background-color:#0065FC;
    border:none;
    border-radius:0 10px 10px 0;
}
.search div:hover
{
    background-color:#DEEBFF;
    cursor:pointer;
    color:black;
}
.search div p
{
    font-size:20px;
    margin:0;
    font-weight:bold;
    color:white;
}
.search div p:hover
{
    color:black;
}
.search div i
{
    color:white;
    display:none;
}
.search div i:hover
{
    color:black;
}
.info
{
    display:flex;
    align-items:center;
    margin:2rem 0 2rem 0;
    font-size:14px;
}
.info i
{
    display:flex;
    justify-content:center;
    align-items:center;
    height:30px;
    width:30px;
    margin-right:10px;
    color:#0065FC;
    border:2px solid #F2F2F2;
    border-radius:25px;  
}
.filter
{
    display:flex;
    flex-wrap:wrap;
}
.filter h3
{
    margin-right:30px;
}
.filter_texticon
{
    display:flex;
    align-items:center;
    height:50px;
    margin-right:30px;
    border:2px solid #F2F2F2;
    border-radius:25px;
    cursor:pointer;
}
.filter_texticon i
{
    display:flex;
    justify-content:center;
    align-items:center;
    height:54px;
    width:54px;
    border-radius:25px;
    margin-left:-2px;
    color:#0065FC;
    background-color:#DEEBFF;
}
.filter_texticon h3
{
    padding:0 10px 0 10px;
}
.filter_texticon i:hover
{
    background-color:#0065FC;
    color:white;
}

/* Main - Hosting */

.hosting
{
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.hosting1
{
    flex:2;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:20px;
    height:670px;
    margin-right:40px;
    padding:20px;
    border-radius:10px;
    background-color:#F2F2F2;
}
.hosting1 h2
{
    grid-column: 1/-1;
}
.hosting1_card
{
    height:auto;
    padding:3px;
    border-radius:1.25rem;
    box-shadow:0 0 16px #0000002e;
    background-color:white;
}
.hosting1_img
{
    height:120px;
    width:100%;
    border-radius:1.25rem 1.25rem 0 0;
    object-fit:cover;
}
.hosting1_detailarticle
{
    margin-left:5px;
    text-decoration:none;
}
.hosting1_detailarticle h3
{
    margin:1rem 0 1rem 0;
}
.hosting1_detailarticle p
{
    margin:0 0 1rem 0;
}
.hosting1_star
{
    display:flex;
    margin:8px 0 8px 0;
}
.hosting2
{
    flex:1;
    height:670px;
    padding:20px;
    border-radius:10px;
    background-color:#F2F2F2;
}
.hosting2_head
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:0 0 24px 0;
}
.hosting2_bloc
{
    display:flex;
    flex-direction:column;
    row-gap:30px;
}
.hosting2_card
{
    display:flex;
    background-color:white;
    height:170px;
    border-radius:1.25rem;
    box-shadow:0 0 16px #0000002e;
}
.hosting2_img
{
    display:flex;
    align-items:center;
    width:35%;
    margin-right:15px;
    padding:3px;
    border-radius:1.25rem 0 0 1.25rem;
    object-fit:cover;
}
.hosting2_detailarticle
{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:60%;
    margin-bottom:10px;
}
.hosting2_star
{
    display:flex;
}

/* Main - Activity */

.activity
{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin:30px 0 50px 0;
}
.activity_bloc
{
    display:flex;
    justify-content:space-between;
    height:600px;
}
.activity_1card
{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:23%;
    border-radius:15px;
    box-shadow:5px 5px 5px 1px #F2F2F2;
}
.activity_2card
{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:23%;
}
.activity_2card2
{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:100%;
    border-radius:15px;
    box-shadow:5px 5px 5px 1px #F2F2F2;
}
.activity_img1
{
    height:530px;
    width:100%;
    border-radius:1.25rem 1.25rem 0 0;
    object-fit:cover;
}
.activity_img2
{
    height:250px;
    width:100%;
    border-radius:1.25rem 1.25rem 0 0;
    object-fit:cover;
}
.activity_img3
{
    height:150px;
    width:100%;
    border-radius:1.25rem 1.25rem 0 0;
    object-fit:cover;
}
.activity_bloc h3
{
    margin:25px 0 25px 10px;
}

/* Footer */

footer
{
    display:flex;
    justify-content:space-between;
    padding:20px 70px 20px 20px;
    background-color:#F2F2F2;
}
footer div
{
    width:30%;
}
footer li
{
    line-height:2;
    list-style:none;
}
footer div ul
{
    padding-left:0;
}